<section class="categories">
    <div class="categories__header">
        <span data-popup-open="addCategory" class="btn categories__add" ng-click="cc.setEmpty()">add new</span>
        <span class="categories__showAll" ng-click="cc.listAllTasks()" ng-hide="cc.noCategories">View all tasks</span>
    </div>
    <article ng-repeat="category in cc.categories" class="categories__item">
        <aside>
            <h3><span class="categories__sort" ng-click="cc.listBy(category.id)">{{category.name}}</span></h3>
            <date>{{category.date}}</date>
        </aside>
        <p>{{category.description}}</p>
        <div>
            <span class="categories__edit" data-popup-open="updateCategory" ng-click="cc.setInfo(category.id, category.name, category.description)">Edit</span>
            <span ng-click="cc.delete(category.id)" class="categories__remove">delete</span>
        </div>
    </article>
    <p class="categories__error" ng-show="cc.noCategories">There are not categories added yet.</p>
</section>


<!-- Popups here -->
<div data-popup="addCategory">
    <h4>Add new category</h4>

    <span data-popup-close="addCategory" data-position="right">X</span>

    <form name="addCategoryForm" ng-submit="cc.add()" class="form form--addCategory">
        <div class="form__row">
            <input type="text" name="name" ng-model="cc.name" placeholder="Name" required>
        </div>
        <div class="form__row">
            <textarea name="description" ng-model="cc.description" placeholder="description" id="" cols="35" rows="5" required></textarea>
        </div>
        <div class="form__row">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>

<div data-popup="updateCategory">
    <h4>Update Category</h4>

    <span data-popup-close="updateCategory" data-position="right">X</span>

    <form name="updateCategoryForm" ng-submit="cc.update()" class="form form--updateCategory">
        <div class="form__row">
            <input type="text" name="name" ng-model="cc.name" placeholder="Name" required>
        </div>
        <div class="form__row">
            <textarea name="description" ng-model="cc.description" placeholder="description"  cols="35" rows="5" required></textarea>
        </div>
        <div class="form__row">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" >Update</button>
        </div>
    </form>
</div>