@import "../../modules/less/reset";
@import "../../modules/less/fonts";
@import "sprite";

html {
	font-size: 16px;
}

html, body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	-webkit-overflow-scrolling: touch;
	backface-visibility: hidden;
	-webkit-touch-callout: none;
}

input {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;

	&[type=number]::-webkit-outer-spin-button, &[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}

input[type=number] {
    -moz-appearance:textfield;
}

h1 {
	position: relative;
	font-size: 2rem;
	#Font > .TradeGothicBold();
	display: inline-block;

	&:after {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		bottom: 0;
		content: '';
		right: -20px;
		margin: auto;
		#Sprite > .close-popup(red);
	}
}


@import "../../modules/less/mediaQueries";
