<h2 class="mainTitle">Dashboard</h2>

<div class="userInfo">
    <p>Welcome back, {{dc.firstName}} {{dc.lastName}}</p>
    <span data-popup-open="editUser"></span>
    <a href="#/login" ng-click="dc.logout()" class="logout"></a>
</div>


<main class="main">
    <section ng-controller="CategoryController as cc">
        <ng-include src="'./categories/categories.view.html'" />
    </section>

    <section ng-controller="TaskController as tc">
        <ng-include src="'./task/task.view.html'" />
    </section>
</main>


<div data-popup="editUser">
    <h4>Edit User</h4>
    <span data-popup-close="editUser" data-position="right">X</span>

    <form name="editUser" ng-submit="dc.editUser()" class="form form--editUser">
        <div class="form__row">
            <input type="text" name="firstName" id="firstname" ng-model="dc.firstName" placeholder="First Name" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required">First name is required</span>
        </div>
        <div class="form__row">
            <input type="text" name="lastName" id="lastname" ng-model="dc.lastName" placeholder="Last Name" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required">Last name is required</span>
        </div>
        <div class="form__row">
            <input type="tel" name="phone" id="phone" ng-model="dc.phone" placeholder="Phone" required />
            <span ng-show="form.phone.$dirty && form.phone.$error.required">Phone is required</span>
        </div>
        <div class="form__row">
            <input type="password" name="password" id="password" ng-model="dc.password" placeholder="New Password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
        </div>
        <div class="form__row">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>
