<section class="tasks">
    <span data-popup-open="addTask" class="btn tasks__add">add new</span>

    <article class="tasks__item" ng-repeat="task in tc.tasks">
        <div>
            <h1 ng-class="{{task.done}} ? 'completed': ''">{{task.name}}</h1>
            <p>{{task.description}}</p>
            <date>{{task.date}}</date>
            <span class="tasks__edit" data-popup-open="updateTask" ng-click="tc.setInfo(task.id, task.category_id, task.name, task.description, task.date)"></span>
        </div>
        <aside>
            <input type="checkbox" data-done="{{task.done}}" id="{{task.name}}" ng-checked="{{task.done}}" ng-click="tc.setDone($event, task.id)">
            <label for="{{task.name}}"></label>
            <span class="tasks__delete btn" ng-click="tc.remove(task.id, task.category_id, task.name, task.description, task.date, task.done)">delete</span>
        </aside>
    </article>

    <p class="tasks__error" ng-show="tc.noTasks">There are not tasks added yet.</p>

    <span class="tasks__removeCompleted btn" ng-hide="tc.completed == 0" ng-click="tc.removeCompleted()">Remove Completed</span>

    <br><span class="taks__undoDeleted" ng-click="tc.undoDeleted()">Undo Last Deleted Task</span>

    <p ng-hide="tc.uncompleted == 0">you`ve got {{tc.uncompleted}} uncompleted tasks</p>
</section>

<!-- Popups here -->
<div data-popup="addTask">
    <h4>Add new tasks</h4>
    <span data-popup-close="addTask" data-position="right">X</span>

    <form name="addTaskForm" ng-submit="tc.add()" class="form form--addTask">
        <div class="form__row" ng-controller="CategoryController as cc">
            <select class="selectBoxes" ng-model="tc.category" name="categoryID" ng-options="category.id as category.name for category in cc.categories track by category.id">
                <option value="">Choose category</option>
            </select>
        </div>
        <div class="form__row">
            <input type="text" name="name" ng-model="tc.name" placeholder="Name" required>
        </div>
        <div class="form__row">
            <textarea name="description" ng-model="tc.description" placeholder="description" id="" cols="35" rows="5" required></textarea>
        </div>
        <div class="form__row">
            <input name="date" ng-model="tc.date" placeholder="Date" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }" required>
        </div>
        <div class="form__row">
            <p ng-show="tc.fields">All fields are required.</p>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>

<div data-popup="updateTask">
    <h4>Update tasks</h4>
    <span data-popup-close="updateTask" data-position="right">X</span>

    <form name="updateTaskForm" ng-submit="tc.update()" class="form form--updateTask">
        <div class="form__row" ng-controller="CategoryController as cc">
            <!-- track by category.id -->
            <select class="selectBoxes" ng-model="tc.category" name="categoryID" ng-options="category.id as category.name for category in cc.categories ">
                <option value="">Choose category</option>
            </select>
        </div>
        <div class="form__row">
            <input type="text" name="name" ng-model="tc.name" placeholder="Name" required>
        </div>
        <div class="form__row">
            <textarea name="description" ng-model="tc.description" placeholder="description" cols="35" rows="5" required></textarea>
        </div>
        <div class="form__row">
            <input name="date" ng-model="tc.date" placeholder="Date" pick-a-date="date" pick-a-date-options="{ format: 'yyyy-mm-dd' }" required>
        </div>
        <div class="form__row">
            <p ng-show="tc.fields">All fields are required.</p>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>